/* NotificationPage.css */

.notification-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page-header {
    text-align: center;
    margin-bottom: 20px;
}

.notification-table {
    width: 100%;
    border-collapse: collapse;
}

.notification-table th,
.notification-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.notification-table th {
    background-color: #f2f2f2;
}

.notification-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.notification-table tbody tr:hover {
    background-color: #ddd;
}
