.nav-menu {
    background-color: #333;
    padding: 10px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li.left-link {
    margin-right: auto; /* Push the "Home" link to the left */
}

.nav-menu ul li.right-link {
    margin-left: auto; /* Push the "Notification" link to the right */
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    color: #f00;
}